{% extends "FTPBundle::layout.html.twig" %}
{% block title %}Renegade FTP{% endblock %}

{% block content %}
	<div class='section centered'>
		<div class='row-fluid' style='border-bottom:1px solid #eee;'>
			<span class='span11'><h3>Files</h3></span>
			<span class='span1'><a href='{{ path('_file_upload') }}' class='btn btn-info' style='margin-top:15px;'>Upload</a></span>
		</div>
	</div>
{% endblock %}