<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Miguel Mawyin">
	<title>{% block title %}{% endblock %}</title>
	{% stylesheets 
		'@FTPBundle/Resources/public/css/bootstrap.css'
		'@FTPBundle/Resources/public/css/main.css'
		'@FTPBundle/Resources/public/css/bootstrap-responsive.css' filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}"></link>
	{% endstylesheets %}
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Renegade</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						{% if id is defined %}
							<li><a href="./">Home</a></li>
							<li><a href="{{ path('_logoff') }}">Logoff</a></li>
						{% else %}
							<li><a href="#">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">{% block content %}{% endblock %}</div>
	
	{% javascripts 
		'@FTPBundle/Resources/public/js/bootstrap.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script src="http://code.jquery.com/jquery.js"></script>
</body>
</html>