{% extends "FTPBundle::layout.html.twig" %}
{% block title %}Login Page{% endblock %}

{% block content %}
	<div class='section centered'>
		<h3>Sign in</h3>
		<h5 class='text-error'>{% if error is defined %}{{ error }}{% endif %}</h5>
		<form action="{{ path('_validate') }}" method="post">
			<table>
				<tr><td>{{ form_widget(form.Email) }}</td></tr>
				<tr><td>{{ form_widget(form.Password) }}</td></tr>
			</table>
			<button class="btn btn-primary" type="submit">Login</button>
		</form>
	</div>
{% endblock %}