{% extends "FTPBundle::layout.html.twig" %}
{% block title %}Create user{% endblock %}

{% block content %}
	<div class='section centered'>
		<h3>New user</h3>
		<form action='{{ path('__user_create') }}' method='POST'>
		<table class='table table-striped table-bordered'>
			<tr><td>Email </td><td>{{ form_widget(form.Email) }}</td></tr>
			<tr><td>Password</td><td>{{ form_widget(form.Password) }}</td></tr>
		</table>
		<button class="btn btn-primary" type="submit">Create</button>
		</form>
	</div>
{% endblock %}